.txt-info {
color: black;
float: left;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
padding-top: 1px;
clear: both;
border: 1px solid #D0C5C3;
width: 90%;
margin-right: 2px;
margin-left: 2px;
height: 18px;
}
.txt-info-area {
color: black;
float: left;
padding-right: 3px;
padding-bottom: 3px;
padding-left: 3px;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
padding-top: 1px;
clear: both;
border: 1px solid #D0C5C3;
width: 90%;
margin-right: 2px;
margin-left: 2px;
height: 70px;
}
#tab1 .but { width: 160px; text-align: center; font-size: 1.4em; font-weight: bold; display: inline-block; background-image: url(../images/signup/button.gif); background-position: top left; background-repeat: no-repeat; }
#tab1 .but:hover { background-image: url(../images/signup/button_h.gif); }
#tab1 .but a, #tab1 .but a:visited { width: 160px; height: 30px; padding-top: 10px; display: inline-block; color: Black; }
#tab1 .but a:hover, #tab1 .but a:visited:hover { text-decoration: none; }
.hi {
color: blue;
}
ul.price {
margin: 5px 0px 5px 5px;
}
.cmLawSoft { color: #414141; font-weight: bold; }
.cmLawSoft b { color: Red; }
.rgnow {
text-align: center;
}
.hib {
font-weight: bold;
color: red;
}