/* - - - - - - CSS Document - - - - - - - - -

Title : Global style sheet for client-side web development standards
Author : Cody Lindley 

- - - - - - - - - - - - - - - - - - - - - */

/* ---------->>> CSS Hacks <<<---------------------------------------------------------------*/


/* ----- add selectors here for font sizing ----- */
#TB_window  {font-size: 1.2em;width: 500px}


#contentPad{
margin:20px;
}

#TB_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index:1001;
	width: 100%;
	height: 100%;
}

#TB_window {
	position: absolute;
	background: #fff;
	z-index: 100000006;
	color:#000000;
	display:none;
	border: 4px solid #D0CDCD;
	
}
#TB_window .child
{
    width:500px;
    height:364px;
    overflow:auto;
}
#TB_window .child1
{
    width:800px;
    height:364px;
    overflow:auto;
}
#TB_closeWindow{

	padding:10px 25px 10px 0;
	float:right;
}

#TB_closeAjaxWindow{
	padding:5px 10px 7px 0;
	margin-bottom:1px;
	text-align:right;
	background-color:#e8e8e8;
}

#TB_ajaxContent{
	padding:2px 15px 15px 15px;
	overflow:auto;
}

#TB_load{
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	overflow: visible;
	visibility: visible;
	display: block;
	z-index:101;
	height:10000px;
}

#TB_loadContent  {
	margin-left: -125px;
	position: fixed;
	/*top: -50px;*/
	left: 50%;
	width: 250px;
	height: 100px;
	visibility: visible;
}

.regiterTable {margin:auto;width:90%;}
 .r_title {font-size: 15px;
font-weight: bold;
color: red;
padding-bottom: 20px;}

 .r_txtText {width:211px;}
.r_ThongBao {color:Red;}
            
             .r_txtText1 {width:188px;height:14px;}
            