#toogle{
	width:212px;
	float:right;
	right:-35px;
	z-index: 1000;
	position: absolute;
}
h2.trigger {
	height: 27px;
	width: 132px;
	font-size: 13px;
	background-image: url(../images/bg-login.png);
	background-repeat: no-repeat;
	color: #7a2d11;
	padding-left: 31px;
	font-weight: normal;
	padding-top: 2px;
	margin: 0;
}
h2.trigger a {
	text-decoration: none;
	padding-top: 3px;
	color: #000000;
}
h2.trigger a:hover {
	text-decoration: underline;
}
h2.active {
	background-position: left bottom;
}
.toggle_container {
	background-color: #F0F0F0;
	border: 1px solid #e6d7d2;
	float: right;
	width: 212px;
	position: absolute;
	top: 0px;
	right: 35px;
	display: none;
	-moz-border-radius:5px;
	-moz-box-shadow: 2px 2px 3px #c6cdd0;
	z-index: 9999999;

}
.toggle_container .block {
	background-color:#F0F0F0;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}

.name {
	clear: both;
	color: #000000;
	text-align: left;
}

.toggle_container h3 {
	color: #000000;
	font-size: 13px;
	font-weight: bold;
	margin-right: 0;
	margin-left: 0;
	padding-top: 20px;
	padding-right: 0;

	padding-left: 5;
}
.toggle_container img {
	float: left;
	padding-bottom: 5px;
}
.txt-account {
	color:#000;
	float:left;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 1px;
	clear: both;
	border: 1px solid #d0c5c3;
	width: 110px;
	margin-right: 2px;
	margin-left: 2px;
	height: 18px;
}
.txt-account-Home {
	color:#000;
	float:left;
	padding-left: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	clear: both;
	border: 1px solid #d0c5c3;
	width: 159px;
	height: 18px;
	margin-bottom: 8px;
	margin-top: 5px;
	padding: 2px 0 2px 3px;
}
.txt-password-Home {
	color:#000;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 0 2px 3px;
	clear: both;
	border: 1px solid #d0c5c3;
	width: 90px;
	height: 18px;
	margin-bottom: 5px;
}
.btn-account-Home {
	width:64px;
	height:24px;
	color:#FFF;
	cursor:pointer;
	display:block;
	background-image: url(../images/btn-account.gif);
	background-repeat: no-repeat;
	font-size: 11px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	vertical-align:middle;
	float: right;
}
.btn-account {
	width:76px;
	height:26px;
	color:#FFF;
	cursor:pointer;
	display:block;
	background-image: url(../images/btn-account.gif);
	background-repeat: no-repeat;
	margin-right: 5px;
	padding-bottom: 7px;
	font-size: 11px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
	margin-bottom: 5px;
	margin-top: 5px;
	float: right;
}
a.close {
	background-image: url(../images/btn-close.png);
	background-repeat: no-repeat;
	position: relative;
	color: #7a2d11;
	float: right;
	height: 27px;
	width: 81px;
	padding-left: 40px;
	padding-top: 3px;
	left: 50px;
	top:7px;
}
.trigger2{
	color: #0e70a4;
	padding-left: 3px;
	background-image: url(../images/bullet.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 10px;
	float: right;
	padding-top: 2px;
}
